/*
----------------------------------------------------------------
  # Parallax
    http://keithclark.co.uk/articles/pure-css-parallax-websites/
----------------------------------------------------------------
*/

// ## Variables
//---------------

//    This effect is achieved by three basic layers, which structure are:
//  ```body                    -
//       .parallax             - $perspective (the depth of the layout).
//         .parallax-group     - The relative container; sets the height.
//           .parallax-layer   - Transforms the layer accordingly to a depth position in a tridimensional level; 
//                               The tridimensional level must be an interger number of $z-levels.
//                               Sets the top position from it's parent.
//             ```

$perspective: 300px;
$z-levels: 5;    // They must be an odd number at total because the middle is at the zero depth level.
$z-depth: 180px; // Cannot be greater than `$perspective`.

// ## Mixin
//-----------

@mixin parallax-depth($z-axis) {
  $part: ($z-depth * 2) / ($z-levels - 1);
  $depth: - $z-depth + ($part * ($z-axis - 1));
  $scale: 1 + ($depth * -1) / $perspective;
  -webkit-transform: translate3d(0,0,$depth) scale($scale);
  -moz-transform: translate3d(0,0,$depth) scale($scale);
  transform: translate3d(0,0,$depth) scale($scale); // Enables GPU.
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  transform-origin: center center;
  z-index: $z-axis;
}

// ## SCSS
//----------

.parallax {
  -webkit-perspective: $perspective;
  -moz-perspective: $perspective;
  perspective: $perspective;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 1000px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 1064px; // Prevents layout from being overflowed.
  width: 100%;
  z-index: 1;
}

.parallax-group {
  position: relative;
  height: 1000px; // Each `.parallax-group` must have a fixed height. Watch out for dinamic heights.
  height: 100vh;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

%parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax-layer-front-five {
  @extend %parallax-layer;
  @include parallax-depth(5);
  // top: x;
}

.parallax-layer-front-four {
  @extend %parallax-layer;
  @include parallax-depth(4);
  // top: x;
}

.parallax-layer-base {
  @extend %parallax-layer;
  @include parallax-depth(3);
  // top: x;
}

.parallax-layer-back-two {
  @extend %parallax-layer;
  @include parallax-depth(2);
  // top: x;
}

.parallax-layer-back-one {
  @extend %parallax-layer;
  @include parallax-depth(1);
  // top: x;
}

// ## Debug
//-----------

// .parallax-group {
//   -webkit-transform: translate3d(700px,0,-800px) rotateY(30deg);
//   -moz-transform: translate3d(700px,0,-800px) rotateY(30deg);
//   transform: translate3d(700px,0,-800px) rotateY(30deg);
// }

// ## IE Fix
//------------

html[class*="ie"] {
  body {
    .parallax {
      perspective: none;
      height: auto;

      .parallax-group {
        transform-style: none;

        .parallax-layer-front-five,
        .parallax-layer-front-four,
        .parallax-layer-base,
        .parallax-layer-back-two,
        .parallax-layer-back-one {
          -ms-transform: translate3d(0,0,0) scale(1) !important;
          transform: translate3d(0,0,0) scale(1) !important;
        }
      }
    }
  }
}
